.place__website {
    max-width: 456px;
    grid-area: website;
    margin-top: 106px;
}

@media screen and (max-width: 767px) {
    .place__website {
        max-width: 288px;
        margin: 32px 16px;
    }
}