.place__paragraphs {
    grid-area: paragraphs;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

@media screen and (max-width: 1279px) {
    .place__paragraphs {
        display: block;
        gap: 0;
    }
}